<div class="container mt-5">
    <h1>{{ title }}</h1>
    <nav class="mb-4">
      <button routerLink="/timesheets" routerLinkActive="active" class="btn btn-primary me-2">Work Table </button>
      <button routerLink="/clients" routerLinkActive="active" class="btn btn-primary me-2">Clients</button>
      <button routerLink="/resources" routerLinkActive="active" class="btn btn-secondary me-2">Resources</button>
      </nav>
      <div class="p-4 bg-gray-100 min-h-screen">  
        <router-outlet></router-outlet>
      </div>
  </div>